body {
    background-color: #171921;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}

.menu > li {
    list-style: none;
    margin-right: 10px;
}

.menu > li > a {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    overflow: hidden;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    position: relative;
}

.menu > li > a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid white;
    transition: width 0.3s ease;
}

.menu > li > a:hover::before {
    width: 100%;
}
